* {
    margin: 0;
    padding: 0;
  }
  body
  {

      background-image: url(img1.jpg);
      background-position:center;
      background-blend-mode:darken;


  }
  #abc
  {
    color: white;
    position: absolute;


  }