<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="static\final1.css">
    <style>
        h3 {text-align: center;}
        h3 {color:lightgray;}
        div {text-align: center;}
        div {color: white;}

    </style>
</head>
<body>


        <h3>PLEASE ENTER THE FOLLOWING DETAILS</h3><br><br>

        <div>
            <form method="POST" action="">
            <!--<label>NAME : </label> -->
            <input type="text" placeholder="Enter Name" id="name" name="names"  ><br><br>
            <!--<label>COMPANY NAME : </label> -->
            <input type="text" placeholder="Enter Company Name" id="companyname" name="companynames" ><br><br>
            <!--<label>UID : </label> -->
            <input type="text" placeholder="EnterUID" id="UID" name="EUID" ><br><br>
           <!-- <lable>EMAIL : </lable>-->
            <input type="text" placeholder="Enter Email ID" id="EmailID" name="emailid" ><br><br><br>
           <button type="submit" id="buttonname">SUBMIT</button>
            </form>
        </div>


</body>
</html>