<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        h1 {text-align : center;}
        h1 {color:black;}
        div {text-align : center;}

    </style>

</head>

<body>
<div>
    <h1>Welcome {{q}}</h1><br><br><br>
        <p>Name : {{q}}</p><br><br>
        <p>Company Name :  {{w}}</p><br><br>
        <p>Employee ID : {{e}}</p><br><br>
        <p>Email :  {{r}}</p><br><br>
</div>
<link rel="stylesheet" href="static/final2.css">
</body>